@import '../../variables.scss';

.subscription-part{
    width: 100%;
    max-width: 1200px;
    margin : 65px auto 65px auto;
    height: 300px;
    background-image: url("/RockBand4FirsTracks.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    @include desktop{
        width: 95%;
    }
    @include large-tablet{
        width: 95%;
        height: 250px;
    }
    @include tablet{
        width: 95%;
        height: 250px;
    }
    @include mobile{
        width: 95%;
        height: 250px;
    }
    h3{
        color: white;
        font-size: 28px;
        line-height: 50px;
        padding-top: 55px;
        font-weight: 600;
        @include large-tablet{
            font-size: 25px;
            line-height: 45px;
            padding-top: 40px;
            font-weight: 600;
        }
        @include tablet{
            font-size: 25px;
            line-height: 45px;
            padding-top: 40px;
            font-weight: 600;
        }
        @include mobile{
            font-size: 22px;
            line-height: 40px;
            padding-top: 15px;
            font-weight: 600;
        }
    }
    h5{
        color: white;
        font-size: 20px;
        line-height: 50px;
        font-weight: 600;
        @include large-tablet{
            font-size: 20px;
            line-height: 50px;
            font-weight: 600;
        }
        @include tablet{
            font-size: 18px;
            line-height: 30px;
            font-weight: 600;
        }
        @include mobile{
            font-size: 16px;
            line-height: 25px;
            font-weight: 500;
        }
    }
    .email-subscription-form{
        width: 600px;
        @include tablet{
            width: 500px;
        }
        @include mobile{
            width: 95%;
            flex-wrap: wrap;
        }
        margin: 20px auto;
        input[type = "submit"]{
            border-radius: 5px;
            border: 0px;
            background-color: $color-active;
            width: 100px;
            color: white;
            outline: none;
            &:hover {
                background-color: $color-active-hover;
            }
            @include mobile{
                margin: 15px auto;
                width: 90%;
                height: 36px;
            }
        }
    }
}