@import '../variables.scss';

.account-main{
    width: 100%;
    max-width: 1200px;
    margin: 102px auto 42px auto;
    @include desktop {
        width: 95%;
    }
    @include large-tablet {
        margin-top: 92px;
        width: 95%;
    }
    @include tablet {
        margin-top: 82px;
        width: 90%;
    }
    @include mobile {
        margin-top: 68px;
        width: 95%;
    }
    .account-container{
        width: 100%;
        @include tablet{
            flex-wrap: wrap;
        }
        @include mobile{
            flex-wrap: wrap;
        }
        .account-side-bar{
            width: 100%;
            max-width: 250px;
            @include tablet {
                max-width: 100%;
            }
            @include mobile{
                max-width: 100%;
            }
            .account-menu-member-general{
                width: 243px;
                height: 45px;
                padding-left: 7px;
                margin-bottom: 20px;
                .avatar-container{
                    > input[type="file"]{
                        display: none;
                    }
                    .avatar-picture{
                        width: 60px;
                        height: 60px;
                        border-radius: 999px;
                        box-sizing: border-box;
                        border: 1px solid rgb(192, 192, 192);
                        font-size: 22px;
                        @include mobile{
                            width: 45px;
                            height: 45px;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 999px;
                            box-sizing: border-box;
                            border: 1px solid rgb(192, 192, 192);
                        }
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                
                .welcome-member{
                    margin-left: 12px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 15px;
                    color: #000000;
                    > strong{
                        font-size: 16px;
                        line-height: 19px;
                        font-weight: 400;
                        display: block;
                        margin-top: 5px;
                        width: 180px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
            .account-menu-sidebar{
                width: 100%;
                margin-bottom: 25px;
                li{ 
                    list-style: none;
                    padding: 7px 18px;
                    display: flex;
                    align-items: center;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 15px;
                    &:hover{
                        cursor: pointer;
                    }
                    > svg{
                        width: 17px;
                        margin-right: 22px;
                    }
                }
                .active-menu{
                    background-color: rgb(221, 221, 221);
                }
            }
            .log-out-button{
                @include button;
                width: 100%;
                height: 40px;
                border-radius: 5px;
            }
        }
        .account-content{
            width: 100%;
            max-width: 875px;
            @include desktop{
                width: calc(100% - 300px);
            }
            @include large-tablet{
                width: calc(100% - 275px);
            }
            @include tablet {
                max-width: 100%;
                margin-top: 30px;
            }
            @include mobile {
                max-width: 100%;
                margin-top: 30px;
            }
        }
    }
}