@import '../variables.scss';

.section-album-detail{
    width: 100%;
    max-width: 1200px;
    margin: 72px auto 0 auto;
    @include desktop {
        width: 95%;
    }
    @include large-tablet {
        margin-top: 62px;
        width: 95%;
    }
    @include tablet {
        margin-top: 62px;
        width: 95%;
    }
    @include mobile {
        margin-top: 68px;
        width: 95%;
    }
    .banner-breadcrumb{
        background-image: url("/san-pham-detail-banner.jpg");
    }
    .section-album-detail-container{
        margin-top: 70px;
        width: 100%;
        @include large-tablet {
            margin-top: 55px;
        }
        @include tablet {
            flex-wrap: wrap;
            margin-top: 50px;
        }
        @include mobile {
            margin-top: 20px;
            flex-wrap: wrap;
        }
        .album-cover-photo{
            width: 100%;
            max-width: 475px;
            @include desktop {
                width: calc(40% - 20px);
            }
            @include large-tablet {
                width: calc(40% - 15px);
            }
            @include tablet {
                width: 80%;
                margin: 0 auto;
            }
            @include mobile{
                max-width: 100%;
            }
            .album-cover-photo-container{
                width: 100%;
                padding-top: 100%;
                position: -webkit-sticky;
                position: sticky;
                top : 102px;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .album-detail{
            width: 100%;
            max-width: 650px;
            @include desktop {
                width: calc(60% - 20px);
            }
            @include large-tablet {
                width: calc(60% - 15px);
            }
            @include tablet {
                margin-top: 40px;
                width: 100%;
            }
            @include mobile{
                width: 100%;
                margin-top: 30px;
            }
            .album-name{
                width: 100%;
                line-height: 35px;
                font-size: 28px;
                font-weight: 600;
                margin-bottom: 10;
                @include mobile{
                    font-size: 25px;
                }
            }
            .album-band-name{
                width: 100%;
                line-height: 35px;
                font-size: 24px;
                font-weight: 600;
                color: #B4B4B4;
                margin-bottom: 10px;
                @include mobile{
                    font-size: 22px;
                }
            }
            .album-price{
                width: 100%;
                line-height: 35px;
                font-size: 30px;
                font-weight: bold;
                color: $color-active;
                margin-bottom: 30px;
                @include mobile{
                    font-size: 28px;
                    margin-bottom: 20px;
                }
            }
            .button-add-to-cart{
                @include button;
                width: 200px;
                border-radius: 5px;
                height: 40px;
                font-weight: 500;
                font-size: 16px;
                margin-top: 40px;
                @include mobile{
                    width: 100%;
                    margin-top: 25px;
                }
            }
            .product-presentation{
                width: 100%;
                margin-top: 40px;
                .product-presentation-header{
                    width: 100%;
                    height: 38px;
                    border-bottom: solid 1px #C4C4C4;
                    .header-item{
                        width: 110px;
                        margin-right: 20px;
                        height: 38px;
                        border-bottom: 2px solid transparent;
                        font-weight: 600;
                        font-size: 18px;
                        &:hover{
                            cursor: pointer;
                            border-bottom: 2px solid black;
                        }
                    }
                    .header-item.active-tab{
                        background-color: white;
                        border-bottom: 2px solid black;
                    }
                }
            }
            .product-presentation-content{
                width: 100%;
                padding-top: 20px;
                .tab-content{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    display: none;
                    opacity: 0;
                }
                .album-description{
                    p {
                        margin-bottom: 10px;
                    }
                }
                .album-description.active-tab-content{
                    display: block;
                    opacity: 1;
                }
                .album-track-list{
                    width: 100%;
                    .album-track-list-song{
                        width: 100%;
                        p{
                            margin-bottom: 0;
                            padding: 15px 0px;
                        }
                        p:nth-child(2){
                            min-width: 60px;
                            text-align: right;
                        }
                    }
                }
                .album-track-list.active-tab-content{
                    display: flex;
                    opacity: 1;
                }
            }
        }
    }
    .related-album{
        margin-bottom: 45px;
    }
}
