@import '../variables.scss';

.navbar-mobile{
    position: fixed;
    top: 0;
    height: 0;
    height: 62px;
    width: 100%;
    background-color: $color-bg-navbar;
    z-index: 30;
    @include mobile {
        height: 48px;
    }
    @include desktop {
        display: none;
    }
    @include large-desktop {
        display: none;
    }
    .navbar-mobile-container{
        width: 95%;
        height: 100%;
        margin: 0 auto;
        .navbar-logo-mobile{
            text-decoration: none;
                h1{
                    margin: 0;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 32px;
                    font-family: $font-catamaran;
                    color: white;
                    @include mobile {
                        font-size: 28px;
                    }
            }
        }
        .navbar-mobile-container-item {
            height: 100%;
            > span{
                display: inline-block;
                width: 2px;
                background-color: white;
                margin: 0 20px;
                height: 100%;
                @include mobile {
                    margin: 0 10px;
                }
                @include tablet {
                    margin: 0 15px;
                }
            }
            
        }
    }
    .mobile-navbar-board{
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: -100%;
        transition: 0.5s;
        background-color: rgba($color: #000000, $alpha: 0.75);
        &.displaying{
            left: 0;
        }
        @include large-desktop{
            display: none;
        }
        @include desktop{
            display: none;
        }
        .mobile-navbar-board-content{
            margin: 0 auto 0 0;
            background-color: white;
            height: 100%;
            @include large-tablet {
                width: 350px;
            }
            @include tablet {
                width: 320px;
            }
            @include mobile {
                width: 75%;
            }
            .mobile-navbar-item{
                width: 100%;
                height: 40px;
                .icon-nav-mobile{
                    color: $color-active;
                    width: 22px;
                    margin-right: 10px;
                }
                a { 
                    text-indent: 20px;
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                    line-height: 40px;
                    height: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @include tablet{
                        font-size: 18px;
                    }
                    @include mobile{
                        font-size: 16px;
                    }
                    &.activeLink{
                        color: $color-active;
                    }
                    span{
                        text-indent: 0;
                        display: inline-block;
                        margin-left: 15px;
                        background-color: $color-active;
                        color: white;
                        padding: 0 15px;
                        border-radius: 99px;
                        height: 25px;
                        line-height: 25px;
                        font-size: 16px;
                        justify-content: center;
                        @include mobile{
                            margin-left: 10px;
                            font-size: 14px;
                            height: 22px;
                            line-height: 22px;
                        }
                    }
                }
            }
            .log-in{
                background-color: #4ac6ff;
                height: 60px;
                @include tablet{
                    height: 50px;
                }
                @include mobile{
                    height: 45px;
                }
                a { 
                    color: white;
                    line-height: 60px;
                    @include tablet{
                        line-height: 50px;
                    }
                    @include mobile{
                        line-height: 45px;
                    }
                }
            }
        }
    }
    
}