@import '../variables.scss';

.not-found-main{
    position: fixed;
    width: 100%;
    height: 100%;
    .not-found-container {
        width: 100%;
        height: 100%;
        .not-found-photo{
            height: 550px;
            margin-bottom: 100px;
            @include large-tablet{
                height: 50%;
                margin-bottom: 10%;
            }
            @include tablet{
                height: 50%;
                margin-bottom: 20%;
            }
            @include mobile{
                display: none;
            }
            img{
                height: 100%;
            }
        }
        .not-found-messenger{
            margin-left: 60px;
            margin-bottom: 200px;
            @include mobile{
                width: 95%;
                padding-bottom: 20%;
                margin: auto auto;
            }
            h2{
                font-size: 40px;
                margin-bottom: 30px;
                @include large-tablet{
                    font-size: 35px;
                }
                @include tablet{
                    font-size: 30px;
                }
                @include mobile{
                    font-size: 25px;
                }
            }
            p{
                font-size: 28px;
                margin-bottom: 30px;
                @include large-tablet{
                    font-size: 25px;
                }
                @include tablet{
                    font-size: 22px;
                }
                @include mobile{
                    font-size: 20px;
                }
            }
            a{
                text-decoration: none;      
                .button-homepage{
                    @include button;
                    height: 50px;
                    width: 250px;
                    font-size: 18px;
                    @include tablet{
                        height: 45px;
                        width: 220px;
                    }
                    @include mobile{
                        height: 40px;
                        width: 200px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    
}