@import '../variables.scss';

.search-page-main{
    width: 100%;
    max-width: 1200px;
    margin: 72px auto;
    @include desktop {
        width: 95%;
    }
    @include large-tablet {
        margin-top: 62px;
        width: 95%;
    }
    @include tablet {
        margin-top: 62px;
        width: 95%;
    }
    @include mobile {
        margin-top: 68px;
        width: 95%;
    }
    .result-list{
        margin-top: 30px;
        
    }
    .result-list-title{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
        @include tablet {
            font-size: 28px;
        }
        @include mobile {
            font-size: 25px;
        }
        .keyword{
            font-weight: 700;
            color: $color-active;
        }
        .result-number{
            font-size: 18px;
            font-weight: 500;
            color: rgb(167, 167, 167);
        }
    }
    .product-part-sort{
        height: 40px;
        margin-bottom: 25px;
        .dropdown{
            width: 290px;
                @include mobile {
                    width: 250px;
                }
                .dropdown-toggle{
                    @include mobile{
                        padding: 5px;
                    }
                }
                span{
                    width: 110px;
                    margin-right: 10px;
                    display: inline-block;
                    @include mobile {
                        width: 90px;
                        font-size: 14px;
                    }
                }
                strong {
                    display: inline-block;
                    width: 130px;
                    @include mobile {
                        width: 115px;
                        font-size: 14px;
                }
            }
            button{
                width: 100%;
                background-color: white;
                outline: none;
                color: black;
                border-color: #BDB4B4;
                height: 40px;
            }
        }
    }
    .result-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @include large-desktop {
            gap: 40px 40px;
        }
        @include desktop {
            grid-template-columns: repeat(3, 1fr);
            > .album-item {
                width: 100%;
            }
            gap: 25px 25px;
        }
        @include large-tablet {
            grid-template-columns: repeat(3, 1fr);
            > .album-item {
                width: 100%;
            }
            gap: 30px 30px;
        }
        @include tablet {
            grid-template-columns: repeat(3, 1fr);
            > .album-item {
                width: 100%;
                > .album-name{
                    font-size: 16px;
                }
                > .album-band-name{
                    font-size: 14px;
                }
                > .album-price {
                    font-size: 20px;
                }
            }
            gap: 30px 30px;
        }
        @include mobile {
            grid-template-columns: repeat(1, 1fr);
            > .album-item {
                width: 80%;
            }
            gap: 30px 30px;
        }
    }
}