@import '../../variables.scss';

.banner-breadcrumb{
    background-image: url("/banner-breadcrumb.jpg");
    width: 100%;
    height: 300px;
    text-align: center;
    background-size: cover;
    overflow: auto;
    position: relative;
    @include desktop{
        height: 25vw;
    }
    @include large-tablet{
        height: 25vw;
    }
    @include tablet{
        height: 25vw;
    }
    @include mobile{
        display: none;
    }
    .overlay-banner-breadcrumb{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba($color: #282834, $alpha: 0.75);
        z-index: 1;
    }
    h2{
        margin-top: 85px;
        width: 100%;
        line-height: 60px;
        font-weight: 800;
        font-size: 50px;
        color: white;
        z-index: 2;
        position: relative;
        @include desktop{
            margin-top: 60px;
            font-size: 45px;
        }
        @include large-tablet{
            margin-top: 50px;
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
        }
        @include tablet{
            margin-top: 30px;
            font-size: 35px;
            font-weight: 700;
            line-height: 50px;
        }
    }
    ol {
        z-index: 2;
        position: relative;
        width: 100%;
        list-style: none;
        height: 60px;
        color: white;
        font-size: 18px;
        @include desktop{
            height: 55px;
        }
        @include large-tablet{
            height: 45px;
        }
        @include tablet{
            height: 35px;
            font-size: 16px;
        }
        li{
            padding: 0 10px;
            text-decoration: none;
            font-weight: bold;
            a{
                color: $color-active;
                text-decoration: none;
                &:hover{
                    color: white;
                }
            }
            
        }
    }
}