@import '../../variables.scss';

.input-group-type-3{
    margin-bottom: 10px;
    label{
        width: 150px;
    }
    input {
        width: 350px;
        height: 36px;
        border: 1px solid #afafaf;
        box-sizing: border-box;
        border-radius: 3px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 36px;
        align-items: center;
        color: black;
        text-indent: 16px;
        outline: none;
        @include large-tablet{
            width: 90%;
        }
        @include tablet{
            width: 345px
        }
        @include mobile{
            width: 90%;
        }
        @include mobile{
            width: 100%;
        }
    }
    .valid-feedback{
        color:red;
        display:block;
        margin-left:150px;
        @include large-tablet{
            margin-left: 0;
        }
        @include mobile{
            margin-left: 0;
        }
    }
}