@import '../../variables.scss';

.input-group{
    input{
        height: 36px;
        border: 1px solid rgb(175, 175, 175);
        border-radius: 3px;
        text-indent: 10px;
        line-height: 36px;
        outline: none;
        width: 500px;
        @include tablet{
            width: 400px;
        }
        @include mobile{
            margin: 0 auto;
            width: 90%;
        }
    }
    &::placeholder{
        text-indent: 10px;
        line-height: 36px;
    }
}