@import '../../variables.scss';

.text-area{
    margin-top: 25px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    label{
        width: 150px;
    }
    textarea {
        width: 350px;
        border: 1px solid #afafaf;
        box-sizing: border-box;
        border-radius: 3px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        align-items: center;
        color: black;
        text-indent: 16px;
        outline: none;
        resize: none;
        @include large-tablet{
            width: 90%;
        }
        @include tablet{
            width: 345px
        }
        @include mobile{
            width: 100%;
        }
    }
}