
$color-active:#DC2751;
$color-active-hover: #ff1d52;
$color-bg-navbar: #282834;
$font-roboto: 'Roboto', sans-serif;
$font-catamaran: 'Catamaran', sans-serif;
$mobile-width: 575px;
$tablet-width: 767px;
$large-tablet: 991px;
$desktop-width: 1199px;
$large-desktop: 1200px;


@mixin button{
    color: white;
    background-color: $color-active;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        cursor: pointer;
        background-color: $color-active-hover;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile-width+1px}) and (max-width:#{$tablet-width}) {
        @content;
    }
}

@mixin large-tablet {
    @media (min-width: #{$tablet-width+1px}) and (max-width:#{$large-tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$large-tablet+1px}) and (max-width:#{$desktop-width}) {
        @content;
    }
}

@mixin large-desktop {
    @media (min-width: #{$large-desktop}) {
        @content;
    }
}